<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}"></head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div class="container">
    <h2 class="mb-4">Добро пожаловать в Кинотеатр</h2>
    <div class="nav">
        <a class="nav-item nav-link" th:href="@{/sessions}">Расписание</a>
        <a class="nav-item nav-link" th:href="@{/films}">Кинотека</a>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>
